.user-button {
    padding: 6px 10px;
    background-color: #0d3684;
    border-radius: 4px;
    border: 1px solid #0d3684;
    font-size: 14px;
    margin-bottom: 3px;
    color: white;
    height: 40px;

    &:hover {
        background-color: #50EEBC;
        border: 1px solid #50EEBC;
        color: black;
        cursor: pointer;
    }

    &:focus {
        background-color: #50EEBC;
        border: 1px solid #50EEBC;
        color: black;
        cursor: pointer;
    }
}

