#header {
    padding-left: 30px;
    margin-bottom: 23px;

    #spinner {
        position: absolute;
        width: 22px;
        margin-left: 99px;
        margin-top: 11px;
    }

    #logo {
        width: 222px;
    }

    #descr {
        color: #a5c4ff;
        padding-left: 20px;
        font-size: 12px;
        margin-top: -38px;
        margin-bottom: 60px;
    }
}
